<div class="container">
  <div class="flex">
    <div class="flex-center">
      <br>
      <br>
      <h1 class="a2">oops..! nothing to see here</h1>
      <h2>{{title}}</h2>
      <hr>
      <br>
      <div class="flex">
        <div class="flex-center">
          <a href="/">Head Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  body {
    background-color: yellow;
  }

  hr {
    border: none;
    height: .25rem;
    background-color: black;
  }

  a {
    padding: .5em 1.5em;
    border-radius: 99em;
    box-shadow: 0 0 0 1px black;
    transition: background-color .25s ease, color .25s ease;
  }

  a:hover {
    background-color: black;
    color: yellow;
  }
</style>
